<template>
  <div class="home">
    <!-- <Login v-if="authenticated == false"/>
    <Profile v-if="authenticated == true" /> -->
  </div>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/Login.vue';
import Profile from '@/components/Profile.vue';

export default {
  name: 'home',
  components: {
    Login,
    Profile
  },
  data () {
    return {
      autheticated: false
    }
  }
}
</script>

<style>

</style>
