<template>
<div id="login" class="text-center">
  <form class="form-signin form-group">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
    
    <label for="username" class="sr-only">Username</label>
    <input class="form-control" type="text" name="username" v-model="input.username" placeholder="Username"
      required autofocus autocomplete="username" />
    
    <label for="password" class="sr-only">Password</label>
    <input class="form-control" type="password" name="password" v-model="input.password" placeholder="Password"
      required autocomplete="current-password" />
    
    <button class="btn btn-lg btn-outline-primary btn-block" type="button" @click="login()">Sign In</button>
    <p class="alert alert-danger error" v-if="errorText">{{ errorText }}</p>
  </form>
</div>
</template>

<script>
import axios from "axios";

// const API_URL_REGISTER = "https://user-rest-api.herokuapp.com/api/register";
const API_URL_GET_USER = "https://usa-rest-api.herokuapp.com/api/user/";
const API_URL_GET_TOKEN = "https://usa-rest-api.herokuapp.com/auth";

/* for development, deployed locally */
// const API_URL_GET_USER = "http://localhost:5000/api/user/";
// const API_URL_REGISTER = "http://localhost:5000/api/register";
// const API_URL_GET_TOKEN = "http://localhost:5000/auth";

// local storage for JSON Web Token (JWT)
var authToken = null;

export default {
  name: "Login",
  data() {
    return {
      // for login form input
      input: {
        username: "",
        password: ""
      },

      // General purpose. For displaying error text under the login form.
      errorText: ""
    };
  },
  methods: {
    login() {
      // if login form is not empty, process input
      if (this.input.username != "" && this.input.password != "") {

        // send authentication information here using a POST request
        // obtain either the JWT in response, or some error related to bad credentials.
        
        axios({
          method: "POST",
          url: API_URL_GET_TOKEN,
          data: this.input,
          headers: { 
            "content-type": "application/json"
          }
        }).then(
          result => {
            // store JWT obtained from server for current user
            // console.log(result);
            authToken = result.data.access_token;
            console.log("Successfully obtained authToken for user: " + this.input.username);
            // console.log("Authtoken value: " + authToken);

            axios({
              method: "GET",
              url: API_URL_GET_USER + this.input.username,
              headers: {
                "content-type": "application/json",
                "Authorization": "JWT " + authToken 
              }
            }).then(
              result => {
                // on successful response, store it in local user object
                // console.log("Successful response:\n" + JSON.stringify(result, undefined, 2)); // log response in console
                // this.user = result.data;
                console.log("Successful GET response");
                

                // set authenticated to true for token reuse
                this.$emit("authenticated", true);

                // emit local user object to parent through router
                this.$emit("user", result.data);

                // route to component "profile"
                this.$router.replace({
                  name: "profile"
                });
              },
              error => {
                // if error in response, display error under login form
                let msg = error.response.data.message;
                
                if(msg == null) {
                  msg = "Server response error";
                }

                this.errorText = msg;
                console.log("Unsuccessful GET response\n"); // log error in console
                // console.error(JSON.stringify(error, undefined, 2));
              }
            );
            
          },
          error => {
            // if error in response, display error under login form
            this.errorText = "Bad credentials.";

            console.log("Unsuccessful authentication\n"); // log error in console
            // console.error(JSON.stringify(error, undefined, 2));
          }
        );
      } else {
        this.errorText = "Both fields are required";
      }
    }
  }
};
</script>

<style scoped>
#login {
  display: flex;
  align-items: center;

  background-color: white;
  width: 80%;
  max-width: 400px;
  border-radius: 4px;
  /* box-shadow: 0px 10px 60px #888888; */
  margin: auto;
  padding: 2em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1 {
  margin-bottom: 15px;
}

.error {
  margin-top: 10px;
}
</style>
