<template>
<div id="profile" class="row text-center">
  <div class="col dp">
    <img id="profilePic" :src="user.profilePic" alt="Profile Pic">
  </div>
  <div class="col">
    <div id="name">
      <h2 id="fullname">Welcome, {{ user.firstName }}&nbsp;{{ user.lastName }}</h2>
      <p id="username" class="display-6">@{{ user.username }}</p>
    </div>
    <hr>
    <div id="contactInfo">
      <p id="phone">Ph: {{ user.phone }}</p>
      <p id="email">Email: {{ user.email }}</p>
      <p id="pincode">PIN Code: {{ user.pincode }}</p>
    </div>
    <hr>
    <div id="logout">
      <button class="btn btn-outline-danger" @click="logout">Logout</button>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Profile',
  data() {
    return {
      user: this.$parent.user
    }
  },
  methods: {
    logout: function () {
      // console.log("Obtained username before logout: " + this.$parent.user.username);
      this.$emit("authenticated", false);
      this.$router.replace({
        name: "login"
      });
    }
  }
}
</script>

<style scoped>
#profile {
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  margin: auto;
  padding: 2em;
}

#profilePic {
  margin: auto;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px #888888;
}

@media only screen and (max-width: 640px) {
  #profilePic {
    margin-bottom: 20px;
  }
}

.dp {
  display: flex;
  align-items: center;
}
</style>
