<template>
<div id="login">
  <h1>Login</h1>
  <form>
    <input class="form-group form-control" type="text" name="username" v-model="input.username" placeholder="Username"
      required autocomplete="username" />
    <input class="form-group form-control" type="password" name="password" v-model="input.password" placeholder="Password"
      required autocomplete="current-password" />
    <button class="btn btn-outline-primary" type="button" @click="login()">Login</button>
    <p class="alert alert-danger error" v-if="errorText">{{ errorText }}</p>
  </form>
</div>
</template>

<style scoped>
#login {
  background-color: white;
  width: 80%;
  max-width: 400px;
  border-radius: 4px;
  /* box-shadow: 0px 10px 60px #888888; */
  margin: auto;
  padding: 2em;
}

h1 {
  margin-bottom: 15px;
}

.error {
  margin-top: 10px;
}
</style>