<template>
  <div id="app">
    <router-view 
    @authenticated = "setAuthenticated" 
    @user = "setUser"
    />
  </div>
</template>

<script>
/* User JSON format 
user: {
  username: "",
  firstName: "",
  lastName: "",
  email: "",
  phone: "",
  profilePic: "",
  pincode: ""
} */

export default {
  name: 'App',
  data() {
    return {
      authenticated: false,
      user: {}
    }
  },
  mounted() {
    if (!this.authenticated) {
      this.$router.replace({
        name: "login"
      });
    }
  },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    setUser(user) {
      this.user = user;
    }
  }
}
</script>


<style>
</style>
